*{ font: size 40px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
body{ background-color:lightgray;font: size 40px}
.nav{ background-color: black;}
.nav a {color: white; text-decoration: none; margin: 40px;}